.section1{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width: 390px) {
		width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: -200px;
    
	}
}