.headerFooterLayout {
	width: 1272px;
	height: 167px;
	flex-shrink: 0;
	border-radius: 90px;
	background: radial-gradient(
		2900.76% 50.13% at 50% 53.89%,
		rgba(58, 52, 86, 0.95) 0%,
		#211e2e 100%
	);
	box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
	display: flex;
	justify-content: space-around;
	align-items: center;
	@media (max-width: 390px) {
		width: 347px;
		height: 109px;
		margin-top: -100px;
	}
	.headerFooterLayout:nth-child(2){
		@media (max-width: 390px) {
			display: none;
		}
	}

	.loc {
		display: flex;
		align-items: center;
		gap: 5px;

		.locimg {
			width: 70px;
			height: 70px;
			flex-shrink: 0;
		}
		div {
			h3 {
				color: #fff;
				font-size: 24px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}
			p {
				color: #fff;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}
		}
	}
	img {
		width: 2px;
		height: 116.5px;
	}
}

